#header h1{
	float: left;
}
#user_info {
	float: right;
}
#content {
	clear: both;
}

#footer {
	clear: both;
}

thead th {
	text-align: center;
}
tbody th {
	text-align: right;
}

#messages { clear: both; }
#messages div{
	margin: 5px;
	padding: 5px;
}
#messages .message {
	border: 1px solid blue;
	background-color: lightblue;
}

#messages .error {
	border: 1px solid red;
	background-color: pink;
}

/*Survey*/

#ranked_prefs div, #prefs_to_rank div {
	background-color: lightgray;
	width: 300px;
	height: 30px;
	cursor: move;
	margin: 1px;
}
#ranked_prefs{
	width: 300px;
	float: right;
	z-index: 2;
	margin-left: 30px;
}
#prefs_to_rank {
	float: left;
	width: 300px;
	border: 1px solid blue;
	margin-right: 10px;
}
#ranked_prefs_num_placeholder{
	float: left;
	position: relative;
	margin-right: 5px;
}
#ranked_prefs_num_placeholder div.num_placeholder{
	height: 30px;
	z-index: 1;
	position: absolute;
	border: 1px solid darkgrey;
	width: 100%;
}
#submit_btn {
	clear: both;
	float: left;
}
.pref_name {
	text-align: right;
}

/*User*/
#user_listing {
	width: 100%;
}
