<!--! vim: set syn=genshi: !-->
<!--!
Administer Pref Types and Weights
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

:Copyright © 2011 Mark Harviston <infinull@gmail.com>

JQuery Heavy

Templates duplicated once in genshi, and another time as jquery Templates
jquery templates and genshi templates both use ${name} so awkward escaping is needed

The jQuery adds/removes elements from the form and renames them so that they keep with flatlands flatnames
I'm not sure whether this is super-hackish or really elegant

I wanted to play with jquery-datalink, but it's not stable yet.

::Parameters::
	`pref_types` weights.PrefTypesForm
-->
<?python from genshi import Markup?>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:form="http://ns.discorporate.us/flatland/genshi"
	>
	<xi:include href="layout.html"/>

	<head>
		<title>Administer Survey Weights</title>

		${jquery()}
		${jquery_tmpl()}

		<script type="text/javascript" src="admin_weights.js"></script>

		<script id="pref_type_tmpl" type="text/x-jquery-tmpl">
			<?python m="""
			<dl>
				<label>
					<dt>Pref Type Label: </dt>
					<dd><input type="text" name="${index}_name"/></dd>
				</label>
				<label>
					<dt>Weight Type: </dt>
					<dd>
						<select name="${index}_weight_type">
							<option value="weight" default="true">Weight</option>
							<option value="rank">Rank</option>
						</select>
					</dd>
				</label>
				<label>
					<dt> Default Weight Value </dt>
					<dd> <input type="text" name="${index}_def_weight_val"/> </dd>
				</label>
				<dt>Weights</dt>
				<dd>
					<ol class="weights_list"></ol>
					<button class="add_weight_btn" type="button">+</button>
				</dd>
				<button class="del_pref_type_btn" type="button">--</button>
			</dl>
			"""?>
			${Markup(m)}
		</script>
		<script id="pref_weight_tmpl" type="text/x-jquery-tmpl">
			<?python m="""
			<li>
				<input type="text" name="${pt_index}_weights_${wt_index}_weight_value"/>
				<button class="del_weight_btn" type="button">-</button>
			</li>
			"""?>
			${Markup(m)}
		</script>
	</head>
	<body>
		<h1>Administer Survey Weights</h1>
		<form
			method="POST"
			action="${url_for('admin_weights')}"
			form:bind="pref_types"
			>
			<form:with auto_domid="on" auto_for="on">
				<input type="hidden" name="_csrf_token" value="${csrf_token()}"/>
				<div id="pref_type_list">
					<dl py:for="pref_type in pref_types">
						<?python el=pref_type['pref_type_id']?>
						<input type="hidden" form:bind="el"/>

						<?python el=pref_type['name']?>
						<label form:bind="el">
							<dt>${el.label}</dt>
							<dd> <input form:bind="el" /> </dd>
						</label>

						<?python el=pref_type['weight_type']?>
						<label form:bind="el">
							<dt>${el.label}: </dt>
							<dd>
								<select form:bind="el" >
									<option value="weight" default="true">Weight</option>
									<option value="rank">Rank</option>
								</select>
								${form_errors(el.errors)}
							</dd>
						</label>

						<?python el=pref_type['def_weight_val']?>
						<label form:bind="el">
							<dt>${el.label}</dt>
							<dd> <input form:bind="el" /> </dd>
						</label>

						<?python weights=pref_type['weights']?>
						<dt>Weights</dt>
						<dd>
							<ol class="weights_list">
								<li py:for="weight in weights">
									<?python el=weight['weight_value']?>
									<input form:bind="el" />
									${form_errors(weight.errors)}
									${form_errors(weight.weight_value.errors)}
									<button type="button" class="del_weight_btn">-</button>
								</li>
							</ol>
							<button type="button" class="add_weight_btn">+</button>
						</dd>
						<button type="button" class="del_pref_type_btn">--</button>
					</dl>
				</div>
			</form:with>
			<button id="add_pref_type_btn" type="button" title="">++</button>
			<button type="submit">Save</button>
		</form>
	</body>
</html>
