<!--! vim: set syn=genshi: !-->
<!--!
Home Page
~~~~~~~~~
::Parameters::
    -`user_type` string, 'user', 'admin' or 'anon', display different content depending user's persmissions
-->
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	>
	<xi:include href="layout.html"/>

	<head>
		<title>Mentor Scheduler Home-Page</title>
	</head>

	<body py:choose="user_type">
		<div py:when="'admin'">
			Welcome Administrator<br/>
			<ul>
				<!--!<li><a href="#TODO">Administrate Survey</a></li>-->
				<li><a href="${url_for('list_courses')}">Administrate Courses</a></li>
				<li><a href="${url_for('list_users')}">Administrate Users</a></li>
			</ul>
		</div>
		<div py:when="'user'">
			Welcome Mentor<br/>
			<a href="#TODO">Take Survey</a>
		</div>
		<div py:when="'anon'">
			<a href="${url_for('login')}">Login</a> for further options
		</div>
	</body>
</html>
