<!--! vim: set syn=genshi: !-->
<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/" py:strip="">

	<!--! Global Genshi Snippets -->
	<script py:def="jquery" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
	<script py:def="jquery_ui" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/jquery-ui.min.js"></script>

	<py:def function="form_errors(errors)">
		<ul py:if="errors" class="errors">
			<li py:for="error in errors">
				${error}
			</li>
		</ul>
	</py:def>

	<!--! Template Header -->
	<py:match path="head" once="true">
		<head py:attrs="select('@*')">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<title py:with="title = list(select('title/text()'))">
				<py:if test="title">${title}</py:if>
			</title>
			<link rel="stylesheet" type="text/css" href="/style.css"/>
			${select('*[local-name()!="title"]')}
		</head>
	</py:match>

	<py:match path="body" once="true" py:with="messages = get_flashed_messages(with_categories=True)">
		<body py:attrs="select('@*')"><div id="wrap">
			<div id="header">
				<h1>UNSTMentor Scheduler</h1>
				<div id="user_info">
					<py:choose>
						<py:when test="username is None">
							<a href="/login">Login</a>
						</py:when>
						<py:otherwise>
							<a href="/logout">Logout ${username}</a>
						</py:otherwise>
					</py:choose>
				</div>
			</div>
			<div id="messages" py:if="messages">
				<div py:for="category, message in messages" class="${category}">
					${message}
				</div>
			</div>
			<div id="content">
				${select('*|text()')}
			</div>
			<div id="footer">
				<hr />
				<p class="legalese">&copy; 2011 Mark Harviston</p>
			</div>
		</div></body>
	</py:match>
</html>
