<!--! vim: set syn=genshi: !-->
<!--!
A Mentor Listing (possibly filtered)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

::Parameters::
   -`courses`: list of `datamodel.Course` objects
-->
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	>
	<xi:include href="layout.html"/>

	<head>
		<title>Mentor Listing</title>
	</head>

	<body>
		<a href="${url_for('upload_mentors')}">Upload Mentors</a>
		<table id="mentor_listing" >
			<thead>
				<h2>Mentor Listing</h2>
				<tr>
					<th rowspan="2">Mentor Name</th>
					<th py:for="pref_type in pref_types" colspan="${len(pref_type.prefs)}">${pref_type.name}</th>
				</tr>
				<tr>
					<py:for each="pref_type in pref_types">
						<th py:for="pref in pref_type.prefs">${pref.pref_id}</th>
					</py:for>
				</tr>
			</thead>
			<tbody>
				<tr py:for="mentor in mentors">
					<td>${mentor.full_name}</td>
					<td py:for="choice in mentor.choices">
						<!--!${choice.weight.weight_num if choice.weight else 'Default'}-->
						${choice.pref.name}
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
