<!--! vim: set syn=genshi: !-->
<!--!
Display a Single Message
~~~~~~~~~~~~~~~~~~~~~~~~

Template for displaying a single message

:Input
	`title`
	`message`
-->
<?python from genshi import HTML ?>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	>
	<xi:include href="layout.html"/>

	<head>
		<title>${title}</title>
	</head>

	<body>
		<div class="${value_of('message_type') or 'message'}">
			${Markup(message)}
		</div>
	</body>
</html>
