<!--! vim: set syn=genshi: !-->
<!--!
Upload Mentors CSV File
::Parameters::
    -`form` = flaland form
-->
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:form="http://ns.discorporate.us/flatland/genshi"
	>
	<xi:include href="layout.html"/>

	<head>
		<title>Upload Qualtrics Survey CSV File</title>
	</head>

	<body>
		<h2>Upload Qualtrics Survey CSV File</h2>
		<a href="${url_for('list_mentors')}">List All</a>

		<form
			action="${url_for('upload_mentors')}"
			method="POST"
			enctype="multipart/form-data">

			<input type="hidden" name="_csrf_token" value="${csrf_token()}"/>

			<form:with auto_domid="on" auto_for="on">
				<dl>
					<label py:with="el=form.name_index" form:bind="el">
						<dt>${el.label}: </dt>
						<dd>
							<input form:bind="el" />
							${form_errors(el.errors)}
						</dd>
					</label>
					<label py:with="el=form.odin_id_index" form:bind="el">
						<dt>${el.label}: </dt>
						<dd>
							<input form:bind="el" />
							${form_errors(el.errors)}
						</dd>
					</label>
					<label py:with="el=form.new_returning_index" form:bind="el">
						<dt>${el.label}: </dt>
						<dd>
							<input form:bind="el" />
							${form_errors(el.errors)}
						</dd>
					</label>
					<label py:with="el=form.two_slots_index" form:bind="el">
						<dt>${el.label}: </dt>
						<dd>
							<input form:bind="el" />
							${form_errors(el.errors)}
						</dd>
					</label>
				</dl>

					<fieldset>
						<legend>Preference Index Range</legend>
						<dl>
							<label py:with="el=form.pref_start_index" form:bind="el">
								<dt>${el.label}: </dt>
								<dd>
									<input form:bind="el" />
									${form_errors(el.errors)}
								</dd>
							</label>
							<label py:with="el=form.pref_stop_index" form:bind="el">
								<dt>${el.label}: </dt>
								<dd>
									<input form:bind="el" />
									${form_errors(el.errors)}
								</dd>
							</label>
						</dl>
					</fieldset>

				<input type="file" name="mentors_file"/>

				<button type="submit">Submit</button>
			</form:with>
		</form>
	</body>
</html>
