<!--! vim: set syn=genshi: !-->
<!--!
Upload a courses CSV File
~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	>
	<xi:include href="layout.html"/>

	<head>
		<title>Upload Flat Courses</title>
	</head>

	<body>
		<h1>Upload Flat Courses File — One row per course</h1>
		<form method="POST" action="${url_for('upload_courses_flat')}" enctype="multipart/form-data">
			<input type="hidden" name="_csrf_token" value="${csrf_token()}"/>
			<input type="file" name="courses_file"/>
			<button type="submit">Upload File</button>
		</form>
	</body>
</html>
